{% extends "base.html" %}
{% block nav %}
    <li><a href="http://127.0.0.1:8000/">Home</a></li>
    <li><a href="{% url 'profile' %}">Profile</a></li>
    <li><a href="{% url 'post_list' %}">Posts</a></li>
{% endblock %}

{% block content %}
<h1>Create a Post</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.as_table }}
    <br>
    <input type="submit" value="Create" class="btn btn-outlined-success" style="float: left">
</form>
{% endblock content %}