{% extends "base.html" %}
{% block nav %}
    <li><a href="http://127.0.0.1:8000/">Home</a></li>
    <li><a href="{% url 'profile' %}">Profile</a></li>
    <li><a href="{% url 'post_list' %}">Posts</a></li>
{% endblock %}

{% block content %}
<h1>Enter Address</h1>
<form method="post">
    {% csrf_token %}
    <label for="your_address">Enter your city name: </label>
    <input id="your_address" type="text" name="your_address" value="{{ current_address }}">
    <br>
    <label for="your_state">Enter your state: </label>
    <input id="your_state" type="text" name="your_state" value="{{ current_state }}">
    <br>
    <label for="your_doorNo">Enter your Door No: </label>
    <input id="your_doorNo" type="text" name="your_doorNo" value="{{ current_doorNo }}">
    <br>
    <label for="your_residence">Enter your Residence Name: </label>
    <input id="your_residence" type="text" name="your_residence" value="{{ current_residence }}">
    <br>
    <label for="your_street">Enter your street: </label>
    <input id="your_street" type="text" name="your_street" value="{{ current_street }}">
    <br>
    <label for="your_country">Enter your country: </label>
    <input id="your_country" type="text" name="your_country" value="{{ current_country }}">
    <br>
    <label for="your_pinCode">Enter your pin code: </label>
    <input id="your_pinCode" type="number" name="your_pinCode" value="{{ current_pinCode }}">
    <input type="submit" value="OK">
</form>
{% endblock content %}