
{% extends "base.html" %}

{% load static %}


{% block nav %}

    <li><a href="http://127.0.0.1:8000/">Home</a></li>
    <li><a href="{% url 'post_list' %}">Posts</a></li>
    <li><a href="{% url 'request_post' %}">Request</a></li>
    <li><a href="{% url 'donate_post_create' %}">Donate</a></li>
    <li><a href="{% url 'profile' %}">Profile</a></li>

{% endblock %}
{% block content %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial;
}

.coupon {
  border: 5px dotted #bbb;
  width: 80%;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 600px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;

  padding: 10px;
}


.grid-container > div {

  padding: 20px 0;

}


.item1 {
  grid-row: 1 ;
}
.container {
  padding: 2px 16px;
  background-color: #f1f1f1;
}

.promo {
  background: #ccc;
  padding: 3px;
}

.expire {
  color: red;
}
</style>
</head>
<body>
<div  class="grid-container">
{% if post.coupons_achieved == 3 and post.code3 != "OERIPLO" %}
<div class="item1">
<div class="coupon">
  <div class="container">
    <h3>Helpers</h3>
  </div>
  <div class="container" style="background-color:white">
    <img src="https://www.getsethome.com/assets/img/page-top/offers.png" alt="Avatar" style="width:100%;">
    <h2><b> 70% off your purchase</b></h2>
    <p>Dear {{post.user.username}}, Congratulations on winning an Amazon coupon for completing 10 succesful donations on Helpers.com.Continue you to be sweeter for more such sweet gifts and welfare of the poor.</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">{{post.code3}}</span></p>
    <p class="expire">Expires: Jan 03, 2023</p>
  </div>
</div>
{% endif %}
</div>

<div class="item2">
{% if post.coupons_achieved >= 2 and post.code2 != "OERIP" %}
<div class="coupon">
  <div class="container">
    <h3>Helpers</h3>
  </div>
  <div class="container" style="background-color:white">
    <img src="https://www.getsethome.com/assets/img/page-top/offers.png" alt="Avatar" style="width:100%;">
    <h2><b> 50% off your purchase</b></h2>
    <p>Dear {{post.user.username}}, Congratulations on winning an Amazon coupon for completing 7 succesful donations on Helpers.com.Continue you to be sweeter for more such sweet gifts and welfare of the poor.</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">{{post.code2}}</span></p>
    <p class="expire">Expires: Jan 03, 2022</p>
  </div>
</div>
{% endif %}
</div>

<div class="item3">
{% if post.coupons_achieved >= 1 and post.code1 != "OER" %}
<div class="coupon">
  <div class="container">
    <h3>Helpers</h3>
  </div>
  <img src="https://www.getsethome.com/assets/img/page-top/offers.png" alt="Avatar" style="width:100%;">
  <div class="container" style="background-color:white">
    <h2><b>30% off your purchase</b></h2>
    <p>Dear {{post.user.username}}, Congratulations on winning an Amazon coupon for completing 3 succesful donations on Helpers.com.Continue you to be sweeter for more such sweet gifts.</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">{{post.code1}}</span></p>
    <p class="expire">Expires: Jan 03, 2021</p>
  </div>
</div>
{% endif %}
</div>
</div>
{% if post.coupouns_achieved == 0 %}
 {% for message in messages %}

                    <div class="alert alert-{{ message.tags }}">
                        <a class="close" href="#" data-dismiss="alert" style="color:white">×</a>

                        {{ message }}

                    </div>


           {% endfor %}
           {% endif %}

</body>
{% endblock %}